<div class="container">

    <button class="butt" onclick="changeBack()">Click Me</button>

    <div class="pic">
        <img src="https://c.tenor.com/v6ZLgCG_PwIAAAAd/doggo-pupper.gif" alt="doggo">
    </div>

</div>

